doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    block meta
      meta(name="description", content="A complete list of all exoplanets")
    
    block css
      // Materialize
      link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css')
      link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
      // personal css
      link(href='/css/style.css', rel='stylesheet')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
      // JQuery
      script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
      // MAterialize
      script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')
      // FA
      script(src='https://use.fontawesome.com/bb5a8e554f.js')

  body
    a(href='https://github.com/maximilienandile/open_exoplanet_nodejs_site')
      img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67', alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png')
    block navbar
      nav.light-blue.lighten-1(role='navigation')
        .nav-wrapper.container
          a#logo-container.brand-logo(href='/') Exoplanets List
          ul.right.hide-on-med-and-down
            li
              a(href='/random') Random Planet
            
          ul#nav-mobile.side-nav
            li
              a(href='#') Navbar Link
            
          a.button-collapse(href='#', data-activates='nav-mobile')
            i.material-icons menu
    .container
      block content
      
    
    block footer
      footer.page-footer.orange
        .container
          .row
            .col.l6.s12
              p.grey-text.text-lighten-4
                | This website has been developed thanks to the Open Exoplanet Catalog
            .col.l3.s12
              h5.white-text Links
              ul
                li
                  a.white-text(href='https://github.com/OpenExoplanetCatalogue/open_exoplanet_catalogue') The Open Exoplanet Catalog
                li
                  a.white-text(href='https://github.com/maximilienandile/open_exoplanet_nodejs_site') Source Code of this website

        .footer-copyright
          .container
            | Made in Paris - MIT Licence - Data source : 
            a(href='https://github.com/OpenExoplanetCatalogue/oec_gzip') here
